*,
*::before,
*::after{
    box-sizing: border-box;   
}

/* custom properties */

:root{

    /* font family */
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Shadows Into Light', cursive;
    /* font weight */
    --fw-reg: 300;
    --fw-bold: 1000;
    /* colors */
    --clr-light: #F5F0EC;
    --clr-dark: #503B2A;
    --clr-accent: #E3D5CA;
    --clr-font: #b29ca2;
    /* font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* general styles */

html{
    scroll-behavior: smooth;
}

body{
     text-align: center;
     background-color: var(--clr-accent);
     color: var(--clr-dark);
     font-family: var(--ff-primary);
     font-size: var(--fs-body);
     max-width: 1500px;
     margin-left: auto;
     margin-right: auto;
}

section{
    padding: 2em 2em;
     background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

img{
    display: block;
    max-width: 100%;
    object-fit: fill;
   
}



a{
    text-decoration: none;
    color: black;    
}

a:hover, .social_list__item:hover{
    font-weight: var(--fw-bold);
    color: var(--clr-light);
}

/*  header */
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    width: 250px;
    margin-top: 1em;  
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
}

.reach_out{
    margin-top: 1em;
    margin-right: 1em;
    border: 1px transparent;
    border-radius: 5px;
    padding: 1em ;
    text-align: center;
    justify-content: center;
    background-color: var(--clr-accent);    
}


.reach_out:hover{
    background-color: var(--clr-font);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* intro */

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#greeting, #thankyounote{
   
    margin-top: 2em;
    margin-bottom: 5em;
    width: 60vw;
    height: auto;
    overflow:auto;
    
    
}
#greeting svg, #thankyounote svg{
        width: 100%;
            
}



.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.icon{
    max-height: 4em;
    margin-top: 15px;
    padding: 5px;
}

.icon:hover{
    transform: rotate(20deg);
}

@media (min-width: 600px){
    #greeting{
        
        
    }
}

/* projects */
.projects h2{
    padding-bottom: 2em;
}

.project_display{
    display: flex;
    flex-direction: column;
    
}

.project_display-item{
    border-radius: 5px;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: #f5f0ec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e3d5ca' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
    
    
}

.project_display-image{
    margin: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   
        
}



.project_display-description{
    padding-bottom: 2em;
    margin: 0 1em;
}


.project_display-image:hover{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    transform: translate3d(2px,2px,2px);
}

.project_display-title{
    margin-top: 3em;
}

.github-link{
    text-decoration: none;
}

.github-link:hover{
    color: var(--clr-font)
}

@media (min-width: 600px){

.project_display{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
   
}

.project_display-image{
    margin: 5em;  
}
}

/* footer */
footer{
    text-align: center;
    padding: 2.5em 0;
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.social_list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social_list__item{
    margin: 0 .5em;
}

.social_list__link{
    padding: .5em;
}

.attribution{
    font-size: 15px;
    margin: 2em 0 0;
    padding: 0;
}

/* contact form */



.form{
  border-radius: 5px;
  padding: 20px;
  background-color: #f5f0ec;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e3d5ca' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-header{
    color: var(--clr-dark);
    
}



@media (min-width: 600px){

    .form{
        max-width: 30em;       
    }
}

input, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid var(--clr-font); 
  border-radius: 4px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

button{
  background-color: var(--clr-font);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
    background-color: var(--clr-dark);
}

.form-header, .go_back{
    margin: 2em;
}




